.heroBanner {
    min-height: 475px;
    height: calc(100vh - 60px);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 175px;
    height: 175px;
}

@font-face {
    font-family: "Bold";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/FT27mp9nzRgi/Wgn1VgBHqkiE.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/FT27mp9nzRgi/iHhVUZJCDYtg.woff") format("woff");
    font-display: swap;
}

.header {
    font-family: "Bold";
    font-size: 50px;
    margin-top: 35px;
}

.tip {
    margin-bottom: 35px;
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.enterButton {
    padding: 0 25px;
    height: 50px;
    background-color: #DCE6F9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 15px;
    margin-bottom: 30px;
    flex-shrink: 0;
}

.enterButton:hover {
    text-decoration: none;
    background-color: #FFFFFF;
}